/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;1,400&display=swap");
/* GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #2e2d2d;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #353434;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
}

/* Resposive */
/* ELEMENTOS FLOTANTES */
.menu {
  position: fixed;
  top: 3%;
  left: 10%;
  background: #000;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    left: 3%;
  }
}

.menu h2 {
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .menu h2 {
    font-size: 16px;
  }
}

.menu .icon-men {
  color: #fff;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .menu {
    left: 3%;
    top: 3%;
  }
}

.menu-click {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  display: flex;
  transform: translate3d(0px, -150%, 0px);
  transition: all 1s ease-out;
}

.menu-click .items {
  width: 100%;
  height: 100vh;
  background: #252525;
  padding: 120px;
}

.menu-click .items .link a {
  list-style: none;
  text-decoration: none;
  font-size: 40px;
  line-height: 80px;
  transition: all .8s;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-click .items .link a {
    font-size: 5rem;
    line-height: 10rem;
  }
}

@media screen and (max-width: 767px) {
  .menu-click .items .link a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.menu-click .items .link a li {
  color: #d3d2d2;
  transition: .4s;
}

.menu-click .items .link a li:hover {
  color: #fff;
  font-weight: bold;
}

.logo {
  width: 70%;
  height: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
  box-shadow: none;
  background-image: url("../assets/img/logo.png");
  position: absolute;
  top: 10%;
  left: 25%;
}

@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    display: none;
  }
}

.anima-men {
  transform: translate3d(0px, 0%, 0px);
}

.anima-chevron {
  transition: all 1s ease-in;
  transform: rotate(180deg);
}

.sociales {
  position: fixed;
  right: 5%;
  top: 3%;
  z-index: 11;
}

.sociales a {
  text-decoration: none;
  color: transparent;
}

.sociales i {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.whatsap {
  position: fixed;
  right: 3%;
  bottom: 5%;
  background: #25D366;
  padding: 25px;
  border-radius: 50%;
  z-index: 11;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 767px) {
  .whatsap {
    padding: 15px;
  }
}

.whatsap i {
  font-size: 30px;
  color: #fff;
}

/* HEADER */
.header {
  width: 100vw;
  height: 100vh;
  background: #2e2d2d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0;
  }
}

.txt-header {
  position: absolute;
  left: 7%;
  width: 30%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .txt-header {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .txt-header {
    width: 85%;
    left: 5%;
    top: 15%;
  }
}

.txt-header h2 {
  color: #fff;
  font-size: 50px;
  font-family: 'Righteous', cursive;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .txt-header h2 {
    font-size: 25px;
  }
}

.txt-header a {
  padding: 10px 30px;
  background: #fff;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all .4s ease-in;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.txt-header a:hover {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .txt-header a {
    padding: 10px;
    font-size: 14px;
  }
}

.img-header {
  width: 80%;
  height: 80%;
  background-image: url("../assets/img/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.575), 0 6px 10px 0 rgba(0, 0, 0, 0.637);
}

@media screen and (max-width: 767px) {
  .img-header {
    background-image: url("../assets/img/header-mov.png");
  }
}

/* PRODUCTOS DESTACADOS */
.caja-nosotros {
  width: 100vw;
  height: auto;
  background: #252525;
  display: flex;
  flex-wrap: wrap;
}

.caja-nosotros .txt-producto,
.caja-nosotros .caja-bicis,
.caja-nosotros .caja-accesorios {
  width: 50%;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .caja-nosotros .txt-producto,
  .caja-nosotros .caja-bicis,
  .caja-nosotros .caja-accesorios {
    width: 100%;
    height: 400px;
  }
}

.caja-nosotros .txt-producto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .caja-nosotros .txt-producto {
    padding: 80px 20px;
  }
}

@media screen and (max-width: 767px) {
  .caja-nosotros .txt-producto {
    padding: 20px;
    align-items: center;
  }
}

.caja-nosotros .txt-producto h3 {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .caja-nosotros .txt-producto h3 {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .caja-nosotros .txt-producto h3 {
    font-size: 20px;
  }
}

.caja-nosotros .txt-producto p {
  color: #f0e6e6;
  font-size: 20px;
  margin: 15px 0;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .caja-nosotros .txt-producto p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .caja-nosotros .txt-producto p {
    font-size: 18px;
  }
}

.caja-nosotros .txt-producto a {
  padding: 10px 40px;
  background: #d81111;
  color: #fff;
  text-decoration: none;
  transition: all .4s ease-out;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.caja-nosotros .txt-producto a:hover {
  background: red;
  transform: scale(1.04);
}

@media screen and (max-width: 767px) {
  .caja-nosotros .txt-producto a {
    margin-top: 2rem;
  }
}

.caja-nosotros .caja-bicis {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
  background-image: url("../assets/img/bicis.png");
}

.caja-nosotros .caja-accesorios {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
  background-image: url("../assets/img/destacados.png");
}

/* NUESTROS PRODUCTOS */
.galeria {
  width: 100vw;
  height: auto;
  padding: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .galeria {
    padding: 50px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .galeria {
    padding: 80px 30px;
  }
}

.titulo {
  margin: 0 auto;
}

.titulo h2 {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .titulo h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .titulo h2 {
    margin-bottom: 40px;
  }
}

select {
  padding: 10px 40px 10px 10px;
  font-size: 20px;
  background: #252525;
  color: #fff;
  font-weight: bold;
  border: #fff;
  outline: none !important;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.gal-img {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.gal-img .bicicletas,
.gal-img .accesorios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gal-img .img {
  position: relative;
  width: 32%;
  height: 300px;
  margin: 3px;
  background: #535757;
  background: linear-gradient(0deg, #535757 0%, black 100%);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  transition: all .8s ease-in-out;
}

.gal-img .img .img-prod {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .gal-img .img {
    width: 100%;
    margin-bottom: 190px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gal-img .img {
    width: 49%;
    margin-bottom: 12.5rem;
  }
}

.gal-img .img .caja-hover {
  position: absolute;
  width: 100%;
  height: 304px;
  background: #0e0d0dd9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .4s ease-in-out;
  margin-top: -305px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gal-img .img .caja-hover {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .gal-img .img .caja-hover {
    display: none;
  }
}

.gal-img .img .caja-hover h3 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.gal-img .img .caja-hover p {
  color: #f0e6e6;
  font-weight: bold;
  margin: 10px 0;
}

.gal-img .img .caja-hover .caja-compra {
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

.gal-img .img .caja-hover .caja-compra .botones {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gal-img .img .caja-hover .caja-compra .botones .mercado,
.gal-img .img .caja-hover .caja-compra .botones .amazon {
  padding: 25px 93px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
  background-image: url("../assets/img/mercado-libre.png");
}

.gal-img .img .caja-hover .caja-compra .botones .amazon {
  display: none;
  background-image: url("../assets/img/amazon.jpg");
  margin-left: 10px;
}

.gal-img .img:hover .caja-hover {
  opacity: 1;
}

.gal-img .img .info-movil {
  display: none;
}

@media screen and (max-width: 767px) {
  .gal-img .img .info-movil {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .gal-img .img .info-movil h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .gal-img .img .info-movil p {
    color: #f0e6e6;
    font-weight: bold;
    margin: 10px 0;
  }
  .gal-img .img .info-movil .caja-compra {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gal-img .img .info-movil .caja-compra .botones {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gal-img .img .info-movil .caja-compra .botones .mercado,
  .gal-img .img .info-movil .caja-compra .botones .amazon {
    padding: 25px 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
    background-image: url("../assets/img/mercado-libre.png");
  }
  .gal-img .img .info-movil .caja-compra .botones .amazon {
    background-image: url("../assets/img/amazon.jpg");
    margin-left: 10px;
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gal-img .img .info-movil {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .gal-img .img .info-movil h3 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .gal-img .img .info-movil p {
    color: #f0e6e6;
    font-weight: bold;
    margin: 10px 0;
  }
  .gal-img .img .info-movil .caja-compra {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gal-img .img .info-movil .caja-compra .botones {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gal-img .img .info-movil .caja-compra .botones .mercado,
  .gal-img .img .info-movil .caja-compra .botones .amazon {
    padding: 25px 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
    background-image: url("../assets/img/mercado-libre.png");
  }
  .gal-img .img .info-movil .caja-compra .botones .amazon {
    background-image: url("../assets/img/amazon.jpg");
    margin-left: 10px;
    display: none;
  }
}

/* CONTACTO */
.contacto {
  width: 100%;
  height: 74vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.377);
  background-image: url("../assets/img/footer.png");
}

@media screen and (max-width: 767px) {
  .contacto {
    background: none;
    height: 454px;
  }
}

.contacto .form {
  width: 50%;
  height: auto;
  background: #252525;
  position: absolute;
  margin-top: -70px;
  margin-left: 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 767px) {
  .contacto .form {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contacto .form {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    height: 75vh;
  }
}

.contacto .form h2 {
  color: #fff;
}

.contacto .form .campos {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.contacto .form .campos label {
  color: #f0e6e6;
  font-size: 20px;
  margin: 15px 0;
}

@media screen and (max-width: 767px) {
  .contacto .form .campos label {
    font-size: 16px;
    margin: 10px 0;
  }
}

.contacto .form .campos input {
  padding: 10px;
  background: transparent;
  color: #f0e6e6;
  border: 1px solid #4e4c4c;
  border-radius: 10px;
  outline: none;
}

.contacto .form .campos textarea {
  background: transparent;
  padding: 10px;
  color: #f0e6e6;
  border: 1px solid #4e4c4c;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
}

.contacto .form .campos button {
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  background: #d81111;
  color: #f0e6e6;
  border: transparent;
  font-size: 16px;
  font-weight: bold;
  transition: all .4s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.contacto .form .campos button:hover {
  transform: scale(1.03);
  background: red;
}

@media screen and (max-width: 767px) {
  .contacto .form .campos button {
    width: 70%;
  }
}

/* VALIDACIONES */
.error {
  position: fixed;
  background-color: #f2dede;
  border-color: #151414;
  width: 30%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3%;
  right: 1%;
  border-radius: 10px;
  transition: all 1s ease-out;
  opacity: 0;
}

.error p {
  color: #a94442;
  text-transform: uppercase;
  font-weight: bold;
}

.error i {
  color: #a94442;
  margin-right: 10px;
}

.exito {
  position: fixed;
  background-color: #f2dede;
  border-color: #151414;
  width: 30%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3%;
  right: 1%;
  border-radius: 10px;
  transition: all 1s ease-out;
  opacity: 0;
  background-color: #a2ddb0;
}

.exito p {
  color: #a94442;
  text-transform: uppercase;
  font-weight: bold;
}

.exito i {
  color: #a94442;
  margin-right: 10px;
}

.exito p {
  color: #155724;
}

.exito i {
  color: #155724;
}

/* UBICACION */
.ubicacion {
  width: 100vw;
  text-align: center;
}

.ubicacion p {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
  text-transform: uppercase;
}

.ubicacion iframe {
  width: 100vw;
  height: 400px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -4px -6px 0 rgba(0, 0, 0, 0.897), 0 6px 10px 0 rgba(0, 0, 0, 0.74);
}

.footer h2 {
  color: #f0e6e6;
  font-size: 16px;
}

.footer h2 span a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
/*# sourceMappingURL=estilos.css.map */